pkgbase = gogios-bin
	pkgdesc = Checks to see if required services are still running on important machines.
	pkgver = 1.3
	pkgrel = 6
	url = https://angrysysadmins.tech
	install = gogios-bin.install
	arch = x86_64
	license = MIT
	optdepends = nginx
	optdepends = python-telegram-bot
	noextract = gogios.deb
	options = !strip
	options = !emptydirs
	source = gogios.deb
	sha256sums = d79d4489f82a90713f93cf2ab421dfa1df557be17e71a6ebaa0e93fb9917e4d0

pkgname = gogios-bin

