[Unit]
Description=Controls service check engine
After=network.target
[Service]
Type=simple
User=gogios
ExecStart=/usr/bin/servicecheck
[Install]
WantedBy=multi-user.target