<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page - Ginger Technology Service Check Engine</title>

  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/site.min.css?v=kHvJwvVAK1eJLN4w8xygUR3nbvlLmRwi5yr-OuAO90E" />
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ginger Technology Service Check Engine</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="/checks">Checks</a></li>
          <li><a href="https://github.com/BKasin/gogios/wiki">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container body-content">
    <h3>Service Check Engine</h3>

    <h4>
      Welcome to the service checking engine!
    </h4>

    <p>
      To see the current status of checks, as well as information such as the output of the last run, use the Checks tab.

      The About tab links to the wiki that is hosted on Github.
    </p>

    <hr />

    <footer>
      <p>&copy; 2018-2020 - Ginger Technology || Bailey Kasin</p>
    </footer>
</body>

</html>