<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page - {{.Title}}</title>

  <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/css/site.css" />
</head>

<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/static/{{.Logo}}" alt="" width="150" height="50"> {{.NavBar}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarResponsive" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/checks">Checks</a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/BKasin/gogios/wiki">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    <h3>Service Check Engine</h3>

    <h4>
      Welcome to the service checking engine!
    </h4>

    <p>
      To see just the current status of checks, use the Checks tab.

      The About tab links to the wiki that is hosted on Github.
    </p>

    <hr />

    <div class="container body-content">
      <div style="margin-top:20px">
        <script type="text/javascript">
          function replaceText(title, output) {
            document.getElementById('CheckName').textContent = title;
            document.getElementById('CheckOutput').innerHTML = "<xmp>" + output + "</xmp>";
          }
        </script>
        <table class="table table-bordered table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>Check</th>
              <th>Status</th>
              <th>Good Ratio</th>
              <th>As Of</th>
            </tr>
          </thead>
          <tbody>
            {{range .Checks}}
            <tr>
              <td><a href='#' onclick='replaceText("{{.Title}}", `{{.Output}}`);'>{{.Title}}</a></td>
              <td>
                <script type="text/javascript">
                  if ("{{.Status}}" == "Success") {
                    document.write("<font color='green'>{{.Status}}</font>");
                  }
                  else if ("{{.Status}}" == "Failed") {
                    document.write("<font color='red'>Failed</font>");
                  }
                  else if ("{{.Status}}" == "Timed Out") {
                    document.write("<font color='orange'>Timed Out</font>");
                  }
                </script>
              </td>
              <td>{{.Ratio}}% Uptime</td>
              <td>
                <script type="text/javascript">
                  var date = "{{.Asof}}";
                  document.write(date.substr(0, 19) + " " + date.slice(-5));
                </script>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>

      <br />
      <hr />

      <h2 id="CheckName">Check Output</h2>
      <p id="CheckOutput"></p>

      <hr />

      <footer>
        <p>&copy; 2018-2020 - Ginger Technology || Bailey Kasin</p>
      </footer>
    </div>

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>