<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $.getJSON("Home/Checks",
        function (json) {
        var tr;
        // Append each row to html table
        for (var i = 0; i < json.length; i++) {
                tr = $('<tr/>');
                tr.append("<td>" + json[i].title + "</td>");
                if(json[i].good == true) {
                    tr.append("<td><font color='green'>" + json[i].good + "</font></td>");
                }
                else if(json[i].good == false) {
                    tr.append("<td><font color='red'>" + json[i].good + "</font></td>");
                }
                $('table').append(tr);
            }
        });
    });
</script>
<table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
        <tr>
        <th>Check</th>
        <th>Status</th>
        </tr>
        </thead>
        <tbody></tbody>
</table>