Package: gogios
Version: 1.2
Section: base
Priority: optional
Architecture: amd64
Suggests: nginx
Maintainer: Bailey Kasin <bailey@gingertechnology.net>
Description: Checks to see
  if required services are
  still running on important
  machines.
